$colorbg: (black, #282d32);
$colorbg2: beige;
$font-a:  20px;
$font-h3: 16px;
$font-h4: 16px;
$font-h5: 16px;

@mixin caja-flex ($principal, $cruzado, $wrap) {
    display: flex;
    justify-content: $principal;
    align-items: $cruzado;
    flex-wrap: $wrap;
    
}
    
    .imagenlogo{
        width: 10px;
        height: 10px;
    }
    .lupa{
        width: 40px;
    }
    ul{
        li{
            a{
                font-family: 'Courier New', Courier, monospace;
                font-size: 20px;    
            }
        }
    }
    div{
        h4{
            color: $colorbg2;

            p{
                color: $colorbg2;
            }
        }
    }
    .card{
        background-color: $colorbg;
        border: none;
        border-radius: 2px;
        padding: 0.7em 1.5em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    .card-body{
        @extend .card;
        color: whitesmoke;

    .card-nt{
        @extend .card;
        color: whitesmoke;
        width: 16px;
    }

    }

        .col-sm-3{
            width: 70px;
            height: 70px;
        }

        h5{
            color: $colorbg2;
            font-size: $font-h5;
            font-weight: 500;

            p{
                color: $colorbg2;
            }
        }
    }
    .vermas{
        background-color: $colorbg;
        font-size: 20px;
    }
    
    .footer-dark{
        padding: 50px 0;
        color: $colorbg2;
        background-image: linear-gradient($colorbg);

        .copyright{
            text-align: center;
            padding-top: 24px;
            opacity: 0.3;
            font-size: 13px;
            margin-bottom: 0
        }

        @media (max-width:767px) {
            .footer-dark .item:not(.social) {
                text-align: center;
                padding-bottom: 20px
            }
        }

        @media (max-width:767px) {
            .footer-dark .item.text {
                margin-bottom: 0
            }
        }

        @media (max-width:991px) {
            .footer-dark .item.social {
                text-align: center;
                margin-top: 20px
            }
        }

        .item.text{
            margin-bottom: 36px;
            text-align: center;

            a{
                font-size: 20px;
                width: 36px;
                height: 36px;
                line-height: 36px;
                display: inline-block;
                text-align: center;
                border-radius: 50%;
                box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
                margin: 0 8px;
                color: $colorbg2;
                opacity: 0.75
            }
            a:hover{
                opacity: 0.9
            }

            p{
                opacity: 0.6;
                margin-bottom: 0
            }
        }

        h3{
            margin-top: 0;
            margin-bottom: 12px;
            font-weight: bold;
            font-size: 16px;

            ul{
                padding: 0;
                list-style: none;
                line-height: 1.6;
                font-size: 14px;
                margin-bottom: 0;

                li{
                    a{
                        color: $colorbg2;
                        text-decoration: none;
                        opacity: 0.6;
                    a:hover{
                        opacity: 0.8
                    }

}

                    }
                }
            }
        }
        .footer-img{
            width: 40px;
            height: 30px;
}

        
